<footer class="site-footer">
  <span class="site-footer-credits">&copy; 2015</span>
  <span class="site-footer-other"><a href="#" title="Top of page"><i class="fa fa-chevron-circle-up fa-lg"></i></a>  <a href="/about" target="_blank" title="About this website"><i class="fa fa-ellipsis-h fa-spin"></i></a></span>
  <!-- <a href="/" target="_blank" title="Contact"><i class="fa fa-envelope-o fa-lg"></i></a></span> -->
  <span class="site-footer-owner"><a href="/"><img alt="ArcIons" src="https://lh3.googleusercontent.com/-T-ThS-KKFiQ/VfDjrpDbU-I/AAAAAAAAAfA/mvIzCY1mREE/w248-h256-no/0a.png" width="23"></a></span>
</footer>
