<head>
<link rel="profile" href="/">
<link rel="icon" 
      type="image/png" 
      href="https://lh3.googleusercontent.com/-T-ThS-KKFiQ/VfDjrpDbU-I/AAAAAAAAAfA/mvIzCY1mREE/w248-h256-no/0a.png">
      
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/asdf.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
</head>
