@font-face {
  font-family:'Bauer';
  src: url('https://cdn.rawgit.com/a-mar/shiz/master/sads/SubBauGroMed.woff') format('woff');
}

@font-face {
  font-family:'Nuvo';
  src: url('https://cdn.rawgit.com/a-mar/shiz/master/sads/SubNuvWebMed.woff') format('woff');
}

@font-face {
  font-family:'Charter';
  src: url('https://cdn.rawgit.com/a-mar/shiz/master/sads/CharterReg.woff') format('woff');
}

@font-face {
  font-family:'CharterIt';
  src: url('https://cdn.rawgit.com/a-mar/shiz/master/sads/CharterIt.woff') format('woff');
}

@font-face {
  font-family:'CharterB';
  src: url('https://cdn.rawgit.com/a-mar/shiz/master/sads/CharterBold.woff') format('woff');
}

@font-face {
  font-family:'CharterBIt';
  src: url('https://cdn.rawgit.com/a-mar/shiz/master/sads/CharterBoldIt.woff') format('woff');
}
