* {
  box-sizing: border-box;
}

body {
  width:50%;
  padding:0px 20px 20px;
  margin-left:auto;
  margin-right:auto;
  /* font: 131%/1.33 'FiraBook', sans-serif; */
  font: 132%/1.35 'Charter', serif;
  font-weight: 300;
  color: #667;
  word-wrap: break-word;
  font-feature-settings: "liga", "pnum", "cpsp", "case";
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "liga", "pnum", "cpsp", "case";
  -moz-font-feature-settings: "liga", "pnum", "cpsp", "case";
  -moz-font-feature-settings: "liga", "pnum", "cpsp", "case";
  -ms-font-feature-settings: "liga", "pnum", "cpsp", "case";
  -o-font-feature-settings: "liga", "pnum", "cpsp", "case";
}

/* body */
  @media screen and (min-width: 64em) {
    body {
      /* font: 131%/1.33 'FiraBook', sans-serif; } } */
      font: 132%/1.35 'Charter', serif;
      width:50%;
      padding:0px 20px 20px; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    body {
      /* font: 120%/1.2 'FiraBook', sans-serif; } } */
      font: 120%/1.29 'Charter', serif;
      width:63%;
      padding:0px 10px 10px; } }
  @media screen and (max-width: 42em) {
    body {
      /* font: 100%/1.1 'FiraBook', sans-serif; } } */
      font: 100%/1.23 'Charter', serif;
      width:83%;
      padding:0px 5px 5px; } }

p {
  /* font-family: 'FiraBook', sans-serif; */
  font-family: 'Charter', serif;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}

p.lead {
  /* font-family: 'FiraExLig', sans-serif; 
  font-family: 'Charter', serif; */
  font-size: 1.53rem;
  color:#434355;
  font-feature-settings: "liga", "pnum", "cpsp", "case";
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

p.lead em {
  /* font-family: 'FiraExLigIt', sans-serif; */
  font-family: 'CharterIt', serif;
  font-size: 1.53rem;
  color:#434355;
  font-feature-settings: "liga", "pnum", "cpsp", "case";
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

p.lead strong {
  /* font-family: 'FiraBook', sans-serif; */
  font-family: 'CharterB', serif;
  font-size: 1.53rem;
  color:#434355;
  font-feature-settings: "liga", "pnum", "cpsp", "case";
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

/* p-lead */
  @media screen and (min-width: 64em) {
    p.lead, p.lead em, p.lead strong {
      font-size: 1.53rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    p.lead, p.lead em, p.lead strong {
      font-size: 1.4rem; } }
  @media screen and (max-width: 42em) {
    p.lead, p.lead em, p.lead strong {
      font-size: 1.2rem; } }

em {
  /* font-family: 'FiraBookIt', sans-serif; */
  font-family: 'CharterIt', serif;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}

strong {
  /* font-family: 'FiraMed', sans-serif; */
  font-family: 'CharterB', serif;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;fira
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}

a {
  color: #1F3847;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 9px;
  background: linear-gradient(to right, rgba(255,37,0,.61) 49.99%, transparent 0%);
  background-size: 200% 100%;
  background-position:right bottom;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}
  a:hover {
    background-position:left bottom;
    color: #fff;
  }

h1, h2, h3, h4, h5, h6 {
  color:#00B4F1;
  font-family:'Nuvo', sans-serif;
  font-weight: normal;
}

h1 { 
    display: block;
    font-size: 200%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    display: block;
    font-size: 141%;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

h3 { 
    display: block;
    font-size: 115%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
}

h5 { 
    display: block;
    font-size: 89%;
    text-transform:uppercase;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
}

h6 { 
    display: block;
    font-size: 82%;
    text-transform:uppercase;
    font-variant: small-caps;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
}

.page-header, .project-tagline {
  color: #FF4900;
  text-align: center;
  font-family:'Bauer', sans-serif;
  margin: 0;
  font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  text-transform: none;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -moz-font-feature-settings: "kern=1, liga=1, ss02=1, ss03=1, titl=1, tnum=1, lnum=1";
  -ms-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -o-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  font-size: 185%;
  font-weight: 300;
}
.page-header a {
  color: #FF4900;
  font-weight:300;
  text-decoration: none; }
    .page-header a:hover {
      color: #1F3847;
      text-decoration:none;
      background-color:transparent;}

#header{
  margin-top:0.8rem;
  margin-bottom:0.8rem;
  padding-top:0.75rem;
  padding-bottom:0.75rem;
  border-bottom: solid 1px #eff0f1;
}

#header-left {
  float:left;
  text-align:left;
  /*margin-left:-13px;*/
}

   #header-left a {
     color: #FF4900;
     font: 2.7em 'Charter', serif;
     background:transparent;
   }
     #header-left a:hover {
       color: #FF2531;
       background:transparent;
     }

/* header */
@media screen and (min-width: 64em) {
   #header-left a {
     font: 2.7em 'Charter', serif; } }
@media screen and (min-width: 42em) and (max-width: 64em) {
    #header-left a {
     font: 2.3em 'CharterB', serif; } }
@media screen and (max-width: 42em) {
    #header-left a {
     font: 1.7em 'CharterB', serif; } }

#header-right {
  text-align:right;
  margin-right:0;
  overflow: hidden;
}

/* Page header */
  @media screen and (min-width: 64em) {
    .page-header {
      padding: 1.7rem 0; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
      padding: 1rem 0; } }
  @media screen and (max-width: 42em) {
    .page-header {
      padding: 0.5rem 0; } }

/* Project tagline */
  @media screen and (min-width: 64em) {
    .project-tagline {
      font-size: 185%; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
      font-size: 155% } }
  @media screen and (max-width: 42em) {
    .project-tagline {
      font-size: 125% } }

.site-footer {
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: solid 1px #eff0f1;
  font-family:'Nuvo', sans-serif;
  font-size:85%;
}

.site-footer a {
  background: transparent;
  }
    .site-footer a:hover {
      background: transparent;
      color: #00B4F1;
    }

  @media screen and (min-width: 64em) {
    .site-footer {
      font-size: 1.1rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
      font-size: 1rem; } }
  @media screen and (max-width: 42em) {
    .site-footer {
      font-size: 0.9rem; } }

.site-footer-owner, .site-footer-credits, .site-footer-other {
  display: block;
  color: #819198;
  font-weight: 300;
}

.site-footer-owner {
  text-align:center;
}

.site-footer-credits {
  text-align:left;
  float:left;
}

.site-footer-other {
  text-align:right;
  float:right;
}

nav ul li {
    display: inline;
    margin-left:50px;
    margin-right:0px;
    font-family:'Nuvo', sans-serif;
    font-size: 90%;
    text-transform:uppercase;
}

nav a {
    color: #1F3847;
    text-decoration: none;
    padding: 13px 15px;
    font-weight: normal;
    background: transparent;
    }
      nav a:hover {
        color: #00B4F1;
        background: transparent;
        padding: 13px 15px;
        border-radius: 5px;
      }
  
  @media screen and (min-width: 64em) {
    nav a {
      padding: 13px 15px; }
    nav a:hover {
      padding: 13px 15px; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    nav a {
      padding: 11px 13px; }
    nav a:hover {
      padding: 11px 13px; } }
  @media screen and (max-width: 42em) {
    nav a {
      padding: 7px 9px; }
    nav a:hover {
      padding: 7px 9px; } }
