* {
  box-sizing: border-box;
}

body {
  width:73%;
  padding:-5px 70px 70px;
  margin-left:auto;
  margin-right:auto;
  font: 131%/1.32 "Fira Sans", sans-serif;
  font-weight: 300;
  color: #606c71; }

a {
  color: #444;
  font-weight:400;
  text-decoration: none; }
  a:hover {
    background-color: #FEE;
    border-radius: 10px}

h1, h2, h3, h4, h5, h6 {
  color:#00B4F1;
}

h1 { 
    display: block;
    font-size: 200%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
}

h2 {
    display: block;
    font-size: 141%;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
}

h3 { 
    display: block;
    font-size: 115%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
}

h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
}

h5 { 
    display: block;
    font-size: 89%;
    text-transform:uppercase;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
}

h6 { 
    display: block;
    font-size: 82%;
    text-transform:uppercase;
    font-variant: small-caps;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
}

.page-header {
  color: #fff;
  text-align: center;
  font-size: 300%;
  font-weight: 300; }
.page-header a {
  color: #FEE;
  font-weight:300;
  text-decoration: none; }
    .page-header a:hover {
      color: #444;
      text-decoration:none;
      background-color:transparent;}
  
.site-footer {
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner, .site-footer-credits, .site-footer-other {
  display: block;
  color: #819198;
  font-weight: 300;
  font-size: 85%;
}

.site-footer-owner {
  text-align:center;
}

.site-footer-credits {
  text-align:left;
  float:left;
}

.site-footer-other {
  text-align:right;
  float:right;
}
nav ul li {
    display: inline;
    margin-left:auto;
    font-weight: 300;
    text-transform:uppercase;
    font-variant: small-caps;
    font-size: 85%;
}
