* {
  box-sizing: border-box;
  width: 100%;
  float: center;
}

body {
  padding: 100px;
  margin: 100px;
  font: 123%/1.23 "Fira Sans", sans-serif;
  font-weight: 400;
  color: #606c71; }

a {
  color: #444;
  font-weight:400;
  text-decoration: none; }
  a:hover {
    background-color: #FEE;
    border-radius: 10px}

h1 { 
    display: block;
    font-size: 200%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
}

h2 {
    display: block;
    font-size: 141%;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
}

h3 { 
    display: block;
    font-size: 115%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
}

h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
}

h5 { 
    display: block;
    font-size: 89%;
    text-transform:uppercase;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
}

h6 { 
    display: block;
    font-size: 82%;
    text-transform:lowercase;
    font-variant: small-caps;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block; }

.site-footer-credits {
  color: #819198;
  font-weight: 300;
  font-size: 90%;
}
