* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 150%;
  font-weight: 400;
  line-height: 1.4;
  color: #606c71; }

a {
  color: #444;
  font-weight:400;
  text-decoration: none; }
  a:hover {
    background-color: #FEE;
    border-radius: 10px}


.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block; }

.site-footer-credits {
  color: #819198;
  font-weight: 300;
  font-size: 90%;
}
