<!DOCTYPE html>
<html lang="en-gb">
<head>
<link rel="profile" href="http://arcions.github.io/">
<link rel="icon" 
      type="image/png" 
      href="https://lh3.googleusercontent.com/-T-ThS-KKFiQ/VfDjrpDbU-I/AAAAAAAAAfA/mvIzCY1mREE/w248-h256-no/0a.png">
      
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300italic,300,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic,300,300italic&amp;subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/"><img alt="ArcIons" src="https://lh3.googleusercontent.com/-fCK70660sl8/VfDhcvdZMGI/AAAAAAAAAew/_kdR5PIIZO0/w800-h230-no/arc.png"></a></h1>
    </section>
  <nav>
  	<ul>
  		<li><a href="/">Home</a></li>
	        <li><a href="/about">About</a></li>
    	</ul>
  </nav>

<section>

  {{ content }}

</section>
      
      <footer class="site-footer">
        <span class="site-footer-credits"><a href="https://pages.github.com" title="GitHub Pages"><i class="fa fa-github"></i></a> </span>
        <span class="site-footer-other"><i class="fa fa-copyright"></i> 2015</span>
        <span class="site-footer-owner"><a href="/"><img alt="ArcIons" src="https://lh3.googleusercontent.com/-T-ThS-KKFiQ/VfDjrpDbU-I/AAAAAAAAAfA/mvIzCY1mREE/w248-h256-no/0a.png" width="23"></a></span>
      </footer>

  
  </body>
</html>
